# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env_old/
env/

# Node
node_modules/
npm-debug.log*

# Env
.env
*.local

# IDE
.vscode/
.idea/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db
